body{
    margin: 0;
}

div.box{
    width: 200px;
    height: 200px;
    background: hsl(40, 10%, 20%);
    border: 12px solid #fac;
    box-sizing: border-box;
    text-align: center;
    padding: 50px;
   
}
