body {
    margin: 0;
    font-family: sans-serif;
}

dialog {
    box-sizing: border-box;
    background-color: #0009;

    height: 100vh;
    
}

.modal__content {
    background-color: #fff;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.modal__title {
    margin: 10px;
}

.modal_button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}