p {
    color: #892a2a ;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

h1 {
    text-align: center;
}

