* {
    padding: 0;
    margin: 0;
}

/* Titulo historial paciente */

.title-historial-clinico {

    background: linear-gradient(135deg, #0ea5e9 0%, #0284c7 100%);
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

}


.title-historial-clinico img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 50px;
    background-color: rgb(255, 255, 255);
}

.title-historial-clinico span {
    font-size: 20px;
}



/* Formulario styles */

form {
    background-color: rgb(255, 255, 255);
    width: 100%;
   
}



.form_input {

    background: linear-gradient(135deg, #0ea5e9 0%, #0284c7 100%);
    display: flex;
    flex-direction: column;
}

.form_input input,textarea {
    
    display: block;
    margin: auto;
    background-color: #ffff;
    resize: none;
    overflow: scroll;
    width: 1200px;
    height: 100px;
    text-align: justify;
    border: 1px solid rgb(7, 0, 0);
}



#id_historial{

   width: 40px;
   height: 30px;
}

.card-historial-id  {
   
    width: 500px;
    margin: auto;
    margin-top: 10px;
    
}



.card-historial-id label h2{
    color: rgb(255, 255, 255);
  
}



.little-info {
overflow: hidden;
  width: 300px;
  height: 20px;
  margin-bottom: 30px;
}

.form_input label {
    text-align: center;
    padding: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.form_input h2 {
    color: rgb(255, 255, 255);
   
}



.card-little-info {
    margin: auto;
    padding: 20px;
    width: 1100px;

}

.card-little-info h2 {

    color: rgb(255, 255, 255);
    
}



/* Columnas informacion pequeña */


.column {
    border: 1px solid white;
    background: linear-gradient(135deg, #0ea5e9 0%, #0284c7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
    margin-bottom: 20px;

}

.column label {
    border: none;
}

