body {
    background: url(https://images.pexels.com/photos/1529881/pexels-photo-1529881.jpeg?cs=srgb&dl=pexels-d%C6%B0%C6%A1ng-nh%C3%A2n-1529881.jpg&fm=jpg);
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    
}

.card_header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    width: 300px;
    padding: 5px;
    margin-top: 30px;

}
.card {
    
    background: rgb(135, 48, 17);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 0px 25px 3px #ffb726;
    border-radius: 8px;
    box-sizing: border-box;
}

.card_green {
    background: #1b2540;
    text-align: center;
    width: 300px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 25px 3px #ffffff;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    display: inline-block;
    
   

}

.card_red {
    background: rgb(113, 28, 28);
    width: 300px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 3px #711212;
    display: inline-block;
    

}

.card_title {
   
    font-size: 22px;
    margin: 0;
    
}

.card_subtitle {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
}

.card_content {
    font-size: 14px;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 0;
}

.card_img {
    width: 100px;
    border-radius: 50%;
}